title MOBILE SELFSTORAGE im Schwarzwald - Lagerraum | makespace
meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
meta(
    name='description',
    content='Sie suchen Lagerraum - makespace bietet die mobile Lösung! Das MOBILE SELFSTORAGE Konzept für die Region Schwarzwald: Lieferung bis vor die Haustür ✓ Lagerbox befüllen ✓ Einlagern ✓ sichere Verwahrung ✓'
)
meta(
    name='keywords',
    content='makespace, mobile selfstorage, storage, Region, Schwarzwald, Südschwarzwald, Lagerbox, Lagerraum, mobiler Stauraum, Einlagerung, Verwahrung, self storage, Oswald Matt Group, Container, Container-Lager, Lagerraum'
)

block meta

style
    include:sass /template/template.sass
    include /template/font-google-dosis.css

link(
    rel='apple-touch-icon'
    sizes='180x180'
    href='assets/template/images/favicon-apple-touch-icon.min.png'
)
    
link(
    rel='icon'
    type='image/png'
    sizes='32x32'
    href='assets/template/images/favicon-32x32.min.png'
)
    
link(
    rel='icon'
    type='image/png'
    sizes='16x16'
    href='assets/template/images/favicon-16x16.min.png'
)

// Webfonts-Einbindung
link(
    rel='stylesheet',
    type='text/css'
    href='https://fonts.googleapis.com/css?family=Open+Sans',
)

block imports
